<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <h1 class="text-center mb-4 text-secondary">View User</h1> 

                
                <table class="table table-bordered table-hover border-dark"> 
                    <thead class="bg-secondary  text-white"> 
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Book Price</th>
                            <th scope="col">Book Pages</th>
                            <th scope="col">Book Author</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% record.map((val, i) => { 
                            const { id, bookname, bookprice, bookpages, bookauthor } = val; %>
                            <tr>
                                <th scope="row"><%= ++i %></th>
                                <td><%= bookname %></td>
                                <td><%= bookprice %></td>
                                <td><%= bookpages %></td>
                                <td><%= bookauthor %></td>
                                <td>
                                    <a href="/editRecord?id=<%= id %>" class="btn btn-sm btn-primary">Edit</a> 
                                    <a href="/deletRecord?deletId=<%= id %>" class="btn btn-sm btn-outline-primary">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

                
                <div class="text-center">
                    <a href="/add" class="btn btn-secondary">Add New Book</a> 
                </div>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>